body{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    margin: 1rem;
}
#header{
    border: 2px solid #282828;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2em;
}
#content{
    border: 2px solid #282828;
    border-radius: 3em 6em 3em;
}
#footer{
    border: 2px solid #282828;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2em;
}